html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100%;
}

body {
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch;
  height: auto;
}

#root {
  min-height: 100vh;
}